replicaCount: 1

image:
  repository: nginx
  tag: "1.25.3" # Avoid 'latest'
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

# placeholder for pod annotations to allow Vault injector and not crash
podAnnotations: {}

securityContext:
  runAsNonRoot: true
  runAsUser: 1000