apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-flask
  labels:
    app: sample-flask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-flask
  template:
    metadata:
      labels:
        app: sample-flask
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      - name: sample-flask
        image: mostafawr/sample-flask-app:latest
        command: ["opentelemetry-instrument"]
        args:
          - "--traces_exporter=otlp"
          - "--metrics_exporter=otlp"
          - "--service_name=sample-flask-app"
          - "gunicorn"
          - "--bind=0.0.0.0:8080"
          - "--workers=2"
          - "app:app"
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
