apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
- namespace.yaml
- ../../base/sample-flask

namePrefix: dev-

# This is where the developer's workflow will update the image
images:
- name: mostafawr/sample-flask-app
  newName: mostafawr/sample-flask-app
  newTag: 93a23f3ed454b585613cf18317e7618e5bcbe738

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: sample-flask
    spec:
      template:
        spec:
          containers:
            - name: sample-flask
              env:
                - name: OTEL_SERVICE_NAME
                  value: sample-flask
                - name: OTEL_EXPORTER_OTLP_ENDPOINT
                  value: http://otel-collector.monitoring:4318
                - name: OTEL_EXPORTER_OTLP_PROTOCOL
                  value: http/protobuf
