apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
- namespace.yaml
- ../../base/sample-flask

namePrefix: dev-

# This is where the developer's workflow will update the image
images:
- name: mostafawr/sample-flask-app
  newName: mostafawr/sample-flask-app
  newTag: 90795678c1d5be1f12e4c85647171c57e95a0fde

patches:
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/env
      value:
        - name: OTEL_SERVICE_NAME
          value: sample-flask
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: http://otel-collector.monitoring:4318
        - name: OTEL_EXPORTER_OTLP_PROTOCOL
          value: http/protobuf
  target:
    kind: Deployment
    name: sample-flask
