apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
- namespace.yaml
- ../../base/sample-flask

namePrefix: dev-

# This is where the developer's workflow will update the image
images:
- name: mostafawr/sample-flask-app
  newName: mostafawr/sample-flask-app
  newTag: 4878195f163d4c88074505bb500d05d5b2a92a78

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Deployment
    name: sample-flask
