apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  labels:
    app: backend-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
      - name: backend-api
        image: ghcr.io/stefanprodan/podinfo:6.3.5
        ports:
        - containerPort: 9898
        env:
        - name: PODINFO_UI_COLOR
          valueFrom:
            configMapKeyRef:
              name: backend-api-config
              key: ui-color
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
