name: Deploy Sample Flask App

on:
  push:
    paths:
      - 'sample-flask-app/**'
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
      
      - name: Build and push image
        run: |
          cd sample-flask-app
          docker build -t mostafawr/sample-flask-app:${{ github.sha }} .
          docker push mostafawr/sample-flask-app:${{ github.sha }}
      
      - name: Update GitOps manifest
        run: |
          sed -i "s|value: v1.0|value: ${{ github.sha }}|" \
            Falcon-Platform/gitops/apps/sample-flask.yaml
          
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add Falcon-Platform/gitops/apps/sample-flask.yaml
          git commit -m "chore: update sample-flask to ${{ github.sha }}"
          git push
